.wrapper {
	background-color: white;
	border: 1px solid rgb(149, 160, 174);
	height: 50%;
	padding: 2rem;
	text-align: flex-start;
}

.controlPanel {
	display: flex;
	justify-content: flex-start;
	margin: 1rem 0;
}

.addCatExpenseForm button,
.controlPanel button {
	border-radius: 4px;
	background-color: rgb(88, 78, 233);
	color: white;
	padding: 8px;
	border: none;
	cursor: pointer;
}

.controlPanel button:not(:first-of-type) {
	margin-left: 1rem;
}

.table,
.table th,
.table td {
	border: 2px solid rgb(149, 160, 174);
	padding: 8px;
	text-align: flex-start;
}

.table th {
	font-weight: bold;
}

.table {
	border-collapse: collapse;
}

.tableBody td {
	background-color: transparent;
}

.categoryWinner {
	background-color: rgb(209, 235, 233);
}

.addCatExpenseFormWrapper {
	display: grid;
	gap: 1rem;
	grid-template-columns: 50% 50%;
	margin: 2rem;
}

.addCatExpenseForm {
	display: grid;
	grid-template-columns: [labels] 2fr [inputs] 1fr;
	grid-auto-flow: row;
	gap: 1rem 0.5rem;
}

.addCatExpenseForm input,
.addCatExpenseForm select {
	padding: 8px;
	border-radius: 4px;
}

.randomFactWrapper {
	margin-left: 1rem;
	color: rgb(88, 78, 233);
	font-style: italic;
	max-width: 200px;
}

.randomFactWrapper span {
	display: block;
}

.randomFactTitle {
	font-size: 1.2rem;
	font-weight: bold;
}

.addCatExpenseForm label {
	grid-column: labels;
}

.addCatExpenseForm .inputWrapper,
.addCatExpenseForm .selectWrapper,
.addCatExpenseForm .buttonWrapper {
	grid-column: controls;
}

.formValidationError {
	color: red;
}

.addCatExpenseForm button:disabled {
	opacity: 0.3;
}
